.weather-container {
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    width: 100%;
    padding: 1.5rem 2rem;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.9), -1px rgba(0, 0, 0, 0.5);
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.weather-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.weather-info {
    margin-bottom: 1.5rem;
}

.weather-info img{
    width: 2.5rem;
    background: #00b4db;
    border-radius: 0.5rem;
}

.weather-info p{
    font-size: 2rem;
    font-weight: 700;
}

.description {
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 400;
}

.details {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    font-weight: 400;
}

.details p {
    font-size: 0.875rem;
    font-weight: 400;
}

@media screen and (max-width: 700px) {

    .details {
        flex-direction: column;
        gap: 1rem;
    }

}

@media screen and (max-width: 400px) {

    .weather-container {
        padding: 2rem;
    }

}